<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link th:href="@{/css/bootstrap.min.css}"
          href="../css/bootstrap.min.css" rel="stylesheet">
    <!-- field-error style 적용 시 입력창 테두리와 글자 색이 빨간색으로 설정됨 -->
    <style>
        .container {
            max-width: 560px;
        }
        .field-error {
            border-color: #dc3545;
            color: #dc3545;
        }
    </style>
</head>
<body>

<div class="container">

    <div class="py-5 text-center">
        <h2 th:text="#{page.addItem}">상품 등록</h2>
    </div>

    <form action="item.html" th:action th:object="${item}" method="post">

        <!-- errors 에 globalError key 있을 때만 아래 출력 -->
        <!-- errors?.containsKey() 에서 ?는 errors 가 null 인 경우에도 NullPointerException 대신 null 반환 -->
        <div th:if="${errors?.containsKey('globalError')}">
            <p class="field-error" th:text="${errors['globalError']}">전체 오류 메시지</p>
        </div>

        <div>
            <label for="itemName" th:text="#{label.item.itemName}">상품명</label>
            <!-- errors 에 itemName key 있으면 'form-control field-error' class 적용, 없으면 'form-control' class 적용 -->
            <!-- errors?.containsKey() 에서 ?는 errors 가 null 인 경우에도 NullPointerException 대신 null 반환 -->
            <input type="text" id="itemName" th:field="*{itemName}"
                   th:class="${errors?.containsKey('itemName')} ? 'form-control field-error' : 'form-control'"
                   class="form-control" placeholder="이름을 입력하세요">
            <!-- errors 에 itemName key 있을 때만 아래 출력 -->
            <!-- errors?.containsKey() 에서 ?는 errors 가 null 인 경우에도 NullPointerException 대신 null 반환 -->
            <div th:if="${errors?.containsKey('itemName')}">
                <p class="field-error" th:text="${errors['itemName']}">상품명 오류</p>
            </div>
        </div>
        <div>
            <label for="price" th:text="#{label.item.price}">가격</label>
            <!-- errors 에 price key 있으면 'form-control field-error' class 적용, 없으면 'form-control' class 적용 -->
            <!-- errors?.containsKey() 에서 ?는 errors 가 null 인 경우에도 NullPointerException 대신 null 반환 -->
            <input type="text" id="price" th:field="*{price}"
                   th:class="${errors?.containsKey('price')} ? 'form-control field-error' : 'form-control'"
                   class="form-control" placeholder="가격을 입력하세요">
            <!-- errors 에 price key 있을 때만 아래 출력 -->
            <!-- errors?.containsKey() 에서 ?는 errors 가 null 인 경우에도 NullPointerException 대신 null 반환 -->
            <div th:if="${errors?.containsKey('price')}">
                <p class="field-error" th:text="${errors['price']}">가격 오류</p>
            </div>
        </div>
        <div>
            <label for="quantity" th:text="#{label.item.quantity}">수량</label>
            <!-- errors 에 quantity key 있으면 'form-control field-error' class 적용, 없으면 'form-control' class 적용 -->
            <!-- errors?.containsKey() 에서 ?는 errors 가 null 인 경우에도 NullPointerException 대신 null 반환 -->
            <input type="text" id="quantity" th:field="*{quantity}"
                   th:class="${errors?.containsKey('quantity')} ? 'form-control field-error' : 'form-control'"
                   class="form-control" placeholder="수량을 입력하세요">
            <!-- errors 에 quantity key 있을 때만 아래 출력 -->
            <!-- errors?.containsKey() 에서 ?는 errors 가 null 인 경우에도 NullPointerException 대신 null 반환 -->
            <div th:if="${errors?.containsKey('quantity')}">
                <p class="field-error" th:text="${errors['quantity']}">수량 오류</p>
            </div>
        </div>

        <hr class="my-4">

        <div class="row">
            <div class="col">
                <button class="w-100 btn btn-primary btn-lg" type="submit" th:text="#{button.save}">상품 등록</button>
            </div>
            <div class="col">
                <button class="w-100 btn btn-secondary btn-lg"
                        onclick="location.href='items.html'"
                        th:onclick="|location.href='@{/validation/v1/items}'|"
                        type="button" th:text="#{button.cancel}">취소</button>
            </div>
        </div>

    </form>

</div> <!-- /container -->
</body>
</html>