<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link th:href="@{/css/bootstrap.min.css}"
          href="../css/bootstrap.min.css" rel="stylesheet">
    <style>
        .container {
            max-width: 560px;
        }
        .field-error {
            border-color: #dc3545;
            color: #dc3545;
        }
    </style>
</head>
<body>

<div class="container">

    <div class="py-5 text-center">
        <h2 th:text="#{page.updateItem}">상품 수정</h2>
    </div>

    <form action="item.html" th:action th:object="${item}" method="post">

        <!-- bindingResult 에 globalError 있을 때만 아래 출력 -->
        <div th:if="${#fields.hasGlobalErrors()}">
            <p class="field-error" th:each="err : ${#fields.globalErrors()}" th:text="${err}">전체 오류 메시지</p>
        </div>

        <div>
            <label for="id" th:text="#{label.item.id}">상품 ID</label>
            <input type="text" id="id" th:field="*{id}" class="form-control" readonly>
        </div>
        <div>
            <label for="itemName" th:text="#{label.item.itemName}">상품명</label>
            <!-- th:field : 정상 상황에서 모델 객체의 값 사용, 오류 발생 시 FieldError 에서 보관한 값 사용 -->
            <!-- th:errorclass : bindingResult 에 th:field 에서 지정한 field error 있으면 th:errorclass 에서 지정한 class (field-error) 추가 적용 -->
            <input type="text" id="itemName" th:field="*{itemName}" th:errorclass="field-error" class="form-control">
            <!-- th:errors 는 th:if 의 편의 버전으로 bindingResult 에 itemName field error 있을 때만 출력 -->
            <div class="field-error" th:errors="*{itemName}">상품명 오류</div>
        </div>
        <div>
            <label for="price" th:text="#{label.item.price}">가격</label>
            <!-- th:field : 정상 상황에서 모델 객체의 값 사용, 오류 발생 시 FieldError 에서 보관한 값 사용 -->
            <!-- th:errorclass : bindingResult 에 th:field 에서 지정한 field error 있으면 th:errorclass 에서 지정한 class (field-error) 추가 적용 -->
            <input type="text" id="price" th:field="*{price}" th:errorclass="field-error" class="form-control">
            <!-- th:errors 는 th:if 의 편의 버전으로 bindingResult 에 price field error 있을 때만 출력 -->
            <div class="field-error" th:errors="*{price}">가격 오류</div>
        </div>
        <div>
            <label for="quantity" th:text="#{label.item.quantity}">수량</label>
            <!-- th:field : 정상 상황에서 모델 객체의 값 사용, 오류 발생 시 FieldError 에서 보관한 값 사용 -->
            <!-- th:errorclass : bindingResult 에 th:field 에서 지정한 field error 있으면 th:errorclass 에서 지정한 class (field-error) 추가 적용 -->
            <input type="text" id="quantity" th:field="*{quantity}" th:errorclass="field-error" class="form-control">
            <!-- th:errors 는 th:if 의 편의 버전으로 bindingResult 에 quantity field error 있을 때만 출력 -->
            <div class="field-error" th:errors="*{quantity}">수량 오류</div>
        </div>

        <hr class="my-4">

        <div class="row">
            <div class="col">
                <button class="w-100 btn btn-primary btn-lg" type="submit" th:text="#{button.save}">저장</button>
            </div>
            <div class="col">
                <button class="w-100 btn btn-secondary btn-lg"
                        onclick="location.href='item.html'"
                        th:onclick="|location.href='@{/validation/v4/items/{itemId}(itemId=${item.id})}'|"
                        type="button" th:text="#{button.cancel}">취소</button>
            </div>
        </div>

    </form>

</div> <!-- /container -->
</body>
</html>